#header {
    width: 100%;
    padding: 12px;
    box-sizing: border-box;
    background-color: #B03167;
    color: white;
    display: block;
    text-align: left;
    align-items: center;
    flex-wrap: nowrap;
}

.login {
    margin: 24px;
    float: left;
    width: 280px;
}

.fun {
    margin: 24px;
    float: left;
    width: 280px;
}

h1 {
    font-size: 36px;
    text-align: left;
    width: 960px;
    margin: 12px;
}

h3 {
    margin-left: 12px;
    color: cornflowerblue;
}

.submit {
    margin: 2px;
    padding: 4px 12px 4px 12px;
    text-decoration: none;
    color: #666;
}

input {
    padding: 4px;
    width: 140px;
    margin: 8px;
}

.form {
    margin: 8px;
    padding: 8px 12px 8px 12px;
    text-align: center;
    align-items: center;
    width: 240px;
    height: 180px;
}

.form p p {
    margin: 0;
}

.login form {
    background-color: #d3d3d3;
}

.fun div {
    background-color: #dee6f7;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
    background-color: #f5f6f7;
    margin: 0;
    padding: 0;
    width: 100%;
}